VITE_ACCESS_API_KEY=eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIwOTFjNzViNGU4ODRiYzk1NDZhOGIyODNkMDhhYmIyZSIsIm5iZiI6MTc3NDYwMjAxMy4xMjcsInN1YiI6IjY5YzY0NzFkMmY4MGMxNzdjMDA4YTk3NSIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.zFfq2dhqoWsrbp-690Dcvi50eyhIH0OjcaClVgaQEEo
VITE_STATIC_BASE_URL=https://image.tmdb.org/t/p/
VITE_BASE_URL=https://api.themoviedb.org/
