@use './mixins' as *;
@use './variables' as *;

:root {
   /*=== Colors === */
   --color-white: oklch(1 0 0);
   --color-white-80: oklab(100% 0 -0.00011 / 80%);
   --color-white-50: oklch(1 0 0 / 50%);
   --color-white-15: oklab(100% 0 -0.00011 / 15%);
   --color-gray: oklch(0.8594 0.0125 280.981);
   --color-card: oklch(0.187 0.091 298.566);
   --color-light-ui: oklch(0.3 0 0);
   --color-indigo: oklch(0.53 0.2 268.04);
   --color-green: oklch(0.59 0.12 164.09);
   --color-background: oklch(19.032% 0.04178 290.626);
   --color-text: oklch(100% 0.00011 271.152 / 50%);
   --color-red: oklch(0.599 0.23883 22.797);
   --color-purple-black: oklch(0.1903 0.04178 290.626);

   /*=== border-radius === */
   --border-radius-sm: 5px;
   --border-radius-md: 10px;
   --border-radius-lg: 12px;
   --border-radius-max: 100000px;

   /*=== Layers === */
   --z-under: -1;
   --z-over: 1;
   --z-second-over: 2;
   --z-toaster: 5;

   /*=== Transitions === */
   --trans-fast: 0.3s ease;
   --trans-medium: 0.4s ease-in-out;

   /*=== Fonts ===*/
   --fs-heading-1: 72px;
   --fs-heading-2: 48px;
   --fs-heading-3: 32px;
   --fs-heading-4: 24px;
   --fs-heading-5: 20px;
   --fs-heading-6: 18px;
   --fs-text-m: 16px;
   --fs-text-s: 14px;
}

